.spyproject/**
**/__pycache__/**
test_data/**
todo.txt
logs/**
**/~$*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.lof
**/*.lot
**/*.toc
**/*.synctex.gz
**/*.blend?*
reporting/**
**/*.bat
**/*.sh
wiki_images/**
build/**
dist/**
**/*.spec
**/*.exe
**/html/**
**/*.mat
**/.ipynb_checkpoints/**
**.vscode/
# ignore macOS database files
.DS_Store
# ignore egg files
*.egg*